body {
    margin: 0;
    padding-top: 0px;

}

* {
    text-decoration: none;
    box-sizing: border-box;
}

.navbar {
    background: #a8914d; 
    padding: 10px 20px;
    position: fixed;
    top: 0;               
    left: 0;
    width: 100%;          
    z-index: 10;
}

.navdiv {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 35px; 
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none; 
    display: inline-block;
    margin-top: 2px;
}

li a {
    color: black; 
    font-size: 25px; 
    font-weight: bold; 
    font-family: "Poppins";
    margin-right: 10px;
    align-content: center;

}

button.Login {
    background-color: black;
    margin-left: 15px;
    margin-right: 25px;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
}

button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.background {
  background-image: url("ChatGPT\ Image\ Nov\ 2\,\ 2025\,\ 09_44_24\ PM.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding: 100px;
  height: 100vh;
  margin-bottom: 200px; 
}

.StrtTxt {
    margin-top: 60px;
    margin-left: 60px;
    text-shadow: 0px 0px 2px yellow;

}

.StrtTxt h1 {
    font-size: 80px;
    color: white;
    font-family: "Poetsen One", sans-serif;
    
}

.Motto {
    font-size: 25px;
    color: white;
}

.ShopBtn {
    background: rgb(215, 38, 56,100);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    width: 200px;
    cursor: pointer;
    border: none;
}



@media (max-width: 992px) {
    .navdiv {
        flex-direction: column;
        align-items: center;

    }

    ul {
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }

    li {
        display: block;
        margin: 10px 0;
    }

    li a {
        font-size: 18px;
        margin: 0;
    }

    button.Login {
        width: 150px;
        margin-top: 10px;
    }

    .StrtTxt {
        margin: 40px 20px;
        text-align: center;
        margin-top: 120px;
        
    }

    .StrtTxt h1 {
        font-size: 55px;
    }

    .Motto {
        font-size: 20px;
    }

    .ShopBtn {
        width: 150px;
        font-size: 14px;
        
    }
    
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .navdiv {
    flex-direction: column;
    align-items: flex-start;

  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 25px;
  }

  #navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #af9750;
    padding: 15px;
    
  }

  #navLinks li {
    display: block;
    margin: 15px 0;
  }

  #navLinks.show {
    display: flex;
    align-items: center;
  }

  .ShopBtn {
    background: rgb(215, 38, 56,100);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-style: "Quattrocento Sans";
    width: 200px;
    cursor: pointer ;
    border: none;
    
}

.Food {
  height: 200px; 
  background-color: transparent; 
}

}
